<%= form_for(@movie) do |f| %>
<div class="form-group">
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating, class:"form-control" %>
  </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price, class:"form-control" %>
      </div>
  <div class="field">
    <%= f.label :cast %><br>
    <%= f.text_area :cast, class:"form-control" %>
  </div>

    <div class="field">
      <%= f.label :okladka %><br>
    <%= f.file_field :photo, class:'file', class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :gatunek %><br>
      <%= f.select(:genre, options_for_select([['Horror','horror'],['Komedia','komedia'],['Fantasy','fantasy'],['SciFi','scifi']]), class:"form-control") %>
    </div>
    <div class="field">
      <%= f.label :film %><br>
      <%= f.file_field :video %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
        </div>
    </div>
<% end %>
