<p id="notice"><%= notice %></p>
<p>

  <% @orders.each do |order| %>
      <% if order.status == false %>
  <strong>Tytuł filmu</strong>
  <%= order.movie.title %>
</p>
      <p>Cena zamówienia:
      <%= order.movie.price %></p>
      <td><%= link_to 'Usuń zamówienie', order, method: :delete %><br><br>
      <% end %>
  <% end %>
  <td><%= link_to 'finalizuj zamówienie', finalize_order_path(session[:orders_sum]) if session[:orders_sum] > 0 %><br>
<% if session[:orders_sum] > 0%>
    Suma:<%= session[:orders_sum] %>zł
<% else %>
    Pusty koszyk :(

<% end %>

