
  <%= form_for(@review) do |f| %>

    <%= f.hidden_field :movie_id, value: @movie.id %>

    <%= f.hidden_field :user_id, value: current_user.id if current_user%>

  <div class="field">
    <%= f.label :Opinia %><br>
    <%= f.text_area :description %>
  </div>
      <div class="field">
        <%= f.label :Ocena %><br>
        <%= f.number_field :rating %>
      </div>
  <div class="actions">
    <%= f.submit 'Zrecenzuj' %>
  </div>
<% end %>
